* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Alata', sans-serif;
    letter-spacing: 3px;
    color: #1d1d1d;
    min-height: 200vh;
    
}

/* Esta es la parte del navegador */

nav {
    width: 100%;
    height: 104px;
    padding: 37px 118px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.pixar>img {
    width: 100%;
    height: 100%;
}

.button {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button--style {
    margin: auto 15px;
    font-size: 15px;
    text-decoration: none;
    background: none;
    color: #1d1d1d;
}

.button--style:hover {
    color: #a2a2a2;
    cursor: pointer;
}

/* Esta es la parte del banner */

.banner {
    width: 100%;
    min-height: 650px;
    background-image: url('buzz.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    padding: 248px 124px;
}

.banner-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-right: 30%;
    padding-left: 10%;
}


.banner-img {
    width: 100%;
    min-width: 700px;
    padding-left: 0;
    padding-right: 0;
}

.lightyear {
    width: 100%;
    min-width: 560px;
}

/* Esta es la parte de las imagenes enlazadas */

.enlaces {
    width: 100%;
    min-height: 800px;
    padding: 150px 142px;
}

.enlaces-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-img {
    width: 100%;
    padding: 0px 17px 17px;
}

.enlaces-img {
    width: 100%;
}

.card-text {
    text-align: center;
    font-size: 14px;
}