/* 

    - HTML -> Lenguaje de maquetacion
    - CSS -> Lenguaje de estilo
    - JS -> Lenguaje de programacion -> Algoritmos

*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.color-red {
    color: red;
}