*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1{
    background-color: lightgreen;
}

#cajamain{
    background-color: white;
    overflow: hidden;
}

.izquierda{
    width: 50%;
    aspect-ratio: 3/2;
    background-color: red;
    float: left;
}

.derecha{
    width: 50%;
    aspect-ratio: 3/2;
    background-color: white;
    float: left;
}

.azul{
    float: left;
    height: 50%;
    aspect-ratio: 1/1;
    background-color: blue;
}

.verde{
    float: left;
    height: 100%;
    aspect-ratio: 1/2;
    background-color: green;
}

.amarillo{
    float: left;
    height: 50%;
    aspect-ratio: 1/1;
    background-color: yellow;
}

