*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#cajamain{
    background-color: white;
    overflow: hidden;
}

.izquierda{
    width: 50%;
    aspect-ratio: 3/2;
    background-color: red;
    float: left;
}

.derecha{
    width: 50%;
    aspect-ratio: 3/2;
    background-color: white;
    float: left;
}

.azul{
    float: left;
    height: 50%;
    aspect-ratio: 1/1;
    background-color: blue;
}

.verde{
    float: left;
    height: 100%;
    aspect-ratio: 1/2;
    background-color: white;
}

.amarillo{
    float: left;
    height: 100%;
    aspect-ratio: 1/2;
    background-color: white;
}

.cuadradoverde{
    height: 50%;
    aspect-ratio: 1/1;
    background-color: green;
}

.rectangulosalmon{
    width: 100%;
    aspect-ratio: 3/1;
    background-color: lightsalmon;
}

.cuadradoamarillo{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: yellow;
}

.cuadradomorado{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: purple;
}

#cajados{
    width: 100%;
    aspect-ratio: 6/1;
    background-color: white;
    overflow: hidden;
}

.cajablanca{
    height: 100%;
    aspect-ratio: 5/1;
    background-color: white;
    float: left;
}

.cajamorada{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: purple;
    float: left;
}

#cajatres{
    width: 100%;
    aspect-ratio: 18/1;
    background-color: white;
}

.cajanaranja{
    height: 100%;
    width: 70%;
    background-color: orange;
}
